/* Resetando padrões do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    color: #333;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #c3b70e;
    line-height: 1.6;
    
}

header {
    background-color: #c8ce16;
    padding: 20px 0;
    color: white;
    text-align: center;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.banner {
    background: #f1f1f1;
    padding: 50px;
    text-align: center;
}

section {
    padding: 40px 20px;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.competencias-container {
    display: flex;
    
}

.competencia {
    width: 22%;
    background: #fff;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.competencia h3 {
    margin-bottom: 15px;
    color: #c8ce16;
}

button {
    background-color: #c8ce16;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #b6a32a;
}

button:focus {
    outline: none;
}

.detalhes {
    margin-top: 15px;
    background-color: #f9f9f9;
    padding: 10px;
    border-left: 5px solid #b6a32a;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

form input, form textarea {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #b6a32a;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

form button:hover {
    background-color: #b6a32a;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

/* ÁREA DE TESTEEEEEE*/

.biologia-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    color:#333

}

.conteudo {
    background-color: var(--branco);
    border-radius: 10px;
    padding: 30px;
    width: 80%;
    min-width: 280px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.conteudo:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 0 0 25px rgba(0, 0, 0, 0.2);
    color: #c3b70e;

}
.conteudo h2 {
    display: flex;
    justify-content: center;
    color: var(--verde);
    margin-bottom: 15px;
    font-size: 1.8rem;
    
}

.conteudo p {
    line-height: 1.6;
    color: var(--preto);
    margin-bottom: 20px;
    font-size: 0.8rem;
    color: #333;
}

.conteudo ul {
    list-style-type: none;
    font-size: 0.8rem;
    color: #333;
}

.conteudo ul li {
    padding: 10px 0;
    border-bottom: 1px solid var(--azul-claro);
    transition: transform 0.5s ease;
    color: #333
}

.conteudo ul li:hover {
    transform: translateX(10px);
    color:#c3b70e
}
.conteudo ul li .block {
    display: none;
}

.conteudo ul li:hover .block {
    display: block;
    text-align: justify;
    color: var(--marinho);
    margin-bottom: 5px;
}
.conteudo ul li:hover .opacidade {
    opacity: 1;
    max-height: 320px;
    text-align: justify;
    color: var(--marinho);
    margin-bottom: 5px;
}
